= form_for @movie do |f|
  - if @movie.errors.any?
    #error_explanation
      %h2= "#{pluralize(@movie.errors.count, "error")} prohibited this movie from being saved:"
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :year
    = f.text_field :year        
  .field
    = f.label :gross
    = f.text_field :gross

  .field
    = f.label :category_id
    = f.select :category_id, Category.order('name asc').all.collect {|c| [c.name, c.id]}
  .actions
    = f.submit 'Save'
