%p#notice= notice

%h1= @movie.title
%p
  %b Description:
  = @movie.description
%p
  %b Year:
  = @movie.year    
%p
  %b Gross (in $M / in &#8364;M):
  = @movie.gross
  \/
  = @movie.in_euros('gross')      
%p
  %b Available Technologies (Blue Ray / High Def / Laserdisc):
  = @movie.is_available_in_blue_ray?
  = @movie.is_available_in_high_definition?
  = @movie.is_available_in_laserdisc?

%p
  %b Category:
  = @movie.category.name 

%p
  %b Actors:
  = @movie.actors.all.map{|a| "#{a.fullname}: $#{a.actings.first.payment}" }.join(', ')
       
%p
  %b Tagline:
  = @decorator.write

= link_to 'Edit', edit_movie_path(@movie)
\|
= link_to 'Back', movies_path
